<div class="card-header bg-primary mb-2 p-0">
  <h1 class="card-title text-center text-light">Top 3 ToDo</h1>
  <ul class="nav justify-content-center bg-light w-100">
    <li class="nav-item">
      {{#disableNavLinkIfAppropriate url "/" "Home" }}{{/disableNavLinkIfAppropriate}}
    </li>
    <li class="nav-item">
      {{#disableNavLinkIfAppropriate url "/about" "About" }}{{/disableNavLinkIfAppropriate}}
    </li>
  </ul>
</div>